body {
    background: #6c78bd;
    /* background: linear-gradient(#d0f8ff, #ffcf99); */
    font-family: 'Calibri';
    margin: 5%;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;    /* IE 10 and IE 11 */
    user-select: none;        /* Standard syntax */
}

label {
    font-weight: 600;
    /* width: 100%; */
    text-align: left;
}

h2, h3 {
    margin: 1%;
    margin-top: 2%;
}

.cb {
    margin: 1%;
    border-radius: 10px;
    background: #5260ad;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;    /* IE 10 and IE 11 */
    user-select: none;
}

#score_view {
    min-width: 10%;
    min-height: 45%;
    padding-inline: 2%;
    background: #17a83b;
    border-radius: 18px;
    color: #cce6c8;
    float: left;
    margin-left: 1em;
    text-align: center;
}

.input_num {
    padding: 2%;
    background: #b4bef3;
    color: #323c75;
    margin-bottom: 0em;
    border-radius: 4px;
    width: 40%;
    text-align: center;
    
    box-shadow: none;
    border: 0;
}

input[type="button"] {
    padding: 2%;
    margin: 1%;
    min-width: 2em;
    box-shadow: none;
    border: 0;
    /* color: #323c75;
    background: #b4bef3;
    border-radius: 4px; */
}

/* Disable scroll refresh */
html, body {
    overscroll-behavior: none;
}


/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 5px;
    margin-top: 3%;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 30px;
	height: 14px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 9px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 0;
	top: -1px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 16px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #323c75;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

.cig_btn {
    /* margin-left: 10px; */
    /* padding: 2px 6px; */
    font-size: small;
    font-weight: 700;
    text-align-last: center;
    background: #fa5306;
    cursor: pointer;
    border-radius: 9px;
    padding:  1.5%;
    padding-inline: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
}

.toggle-label {
    width: 65%;
    padding-bottom: 3%;
    padding-top: 3%;
    display: inline-block;
}







nav{
    width: fit-content;
    /* border: 1px solid #3226df; */
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    background: #323c75;

    max-width: fit-content;
    width: 100%;

}
nav input{ display: none; }
nav label{
    font-family: sans-serif;
    padding: 10px 16px;
    font-size: xx-small;
    /* border-right: 1px solid #2516a8; */
    /* cursor: pointer; */
    transition: all 0.3s;
}
/* nav label:last-of-type{ border-right: 0; } */
nav input[type="radio"]:checked + label {
    background: #b4bef3;
}
/* nav input:checked + label{
    background: #1c7227;
} */
